<div class="calendarEventInfo alert alert-block clearfix dontDisplayMe student">
	<div class="arrow"></div>
	<button type="button" class="close" data-dismiss="alert">x</button>
	<h5>An introduction to the language of 16th century texts</h5>
	<span class="courseDatePattern">Wednesday 1pm,</span>
	<br/>
	<span class="courseLocation">LT1 William Gates Bdg,</span>
	<br/>
	<span class="courseLecturer">Dr R. Harle</span>
	<a href="#" class="btn btn-danger pull-right notImplemented">Remove</a>
</div>