{% load url from future %}

<div id="listViewCalendar" class="pull-left">
    {% include "month-small.html" with month_calendar=calendar %}
</div>


<div id="listViewList" class="pull-right">

    {# right column containing list of days #}
    <ul>
        {% for day in calendar.month_days %}
        <li class="clearfix">
            <h4 class="pull-left">{{ day.date|date:"l jS F" }}</h4>
            <ul class="pull-right">
                {% for event in day.events %}
                <li>
                    <h5>{{ event.title }}</h5>
                    <span class="courseDatePattern">{{ event.start_local|date:"P" }} &ndash; {{ event.end_local|date:"P" }}{% if event.metadata.location %},{% endif %}</span>
                    <span class="courseLocation">{{ event.metadata.location }}</span>
                    {# FIXME: need to include subject + part #}
                    <span class="courseLecturer">{{ event.metadata.people|join:", " }}</span>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% empty %}
        <li>
            <p>No events for this month.</p>
        </li>
        {% endfor %}
    </ul>

</div>