<div id="timetablesOverview">
	<h3>Timetables in MML</h3>

	<ul class="clearfix">
		<li class="btn btn-addTimetable pull-left"><a href="#">New timetable</a></li>
		<li class="btn pull-left"><a href="#">French IA</a></li>
		<li class="btn pull-left"><a href="#">French IB</a></li>
		<li class="btn pull-left"><a href="#">French II</a></li>
		<li class="btn pull-left"><a href="#">German IA</a></li>
		<li class="btn pull-left"><a href="#">German IB</a></li>
		<li class="btn pull-left"><a href="#">German II</a></li>
		<li class="btn pull-left"><a href="#">Italian IA</a></li>
		<li class="btn pull-left"><a href="#">Italian IB</a></li>
		<li class="btn pull-left"><a href="#">Italian II</a></li>
	</ul>
</div>


<div id="calendarHeading">
	<ul class="nav nav-tabs">
		<li class="active agendaWeek"><a href="#">Week</a></li>
		<li class="grid"><a href="#">Grid</a></li>
	</ul>

	<div id="calendarData" class="clearfix">
		<div class="agendaWeek">
			<a href="#" class="btn pull-left notImplemented">Undo changes</a>
			<div class="calendarNavigation pull-left">
				<ul class="clearfix">
					<li class="pull-left"><a class="pull-left badge badge-info" href="#">&lt;</a></li>
					<li class="pull-left"><h4 class="pull-left">Week 2</h4></li>
					<li class="pull-left"><a class="pull-left badge badge-info" href="#">&gt;</a></li>
				</ul>
			</div>
			<h4 class="pull-right">Michaelmas Term</h4>
		</div>
		<div class="grid dontDisplayMe">
			<a href="#" class="btn pull-left notImplemented">Undo changes</a>
			<h4 class="pull-right">Michaelmas Term</h4>
		</div>
	</div>
</div>

<div id="calendar">
	<div id="listView" class="clearfix">
		<!--
		<div id="listViewCalendar" class="pull-left">
            <table>
                <thead>
                    <tr>
                        <td colspan="7">October 2012</td>
                    </tr>
                    <tr>
                        <td>Mon</td>
                        <td>Tue</td>
                        <td>Wed</td>
                        <td>Thu</td>
                        <td>Fri</td>
                        <td>Sat</td>
                        <td>Sun</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
		</div>
		<div id="listViewList" class="pull-right">
			<ul>
				<li class="clearfix">
					<h4 class="pull-left">Friday 5th Oct.</h4>
					<ul class="pull-right">
						<li class="class">
							<h5>Early modern French</h5>
							<span class="courseDatePattern">9am - 10am,</span> 
							<span class="courseLocation">Morison R,</span><br/>
							<span class="courseLecturer">Dr. W. Bennett, French IA</span>
						</li>
					</ul>
				</li>
				<li class="clearfix">
					<h4 class="pull-left">Monday 8th Oct.</h4>
					<ul class="pull-right">
						<li class="class">
							<h5>Early modern French</h5>
							<span class="courseDatePattern">9am - 10am,</span> 
							<span class="courseLocation">Sidgwickav,</span><br/>
							<span class="courseLecturer">Dr. W. Bennett, French IA</span>
						</li>
						<li class="class">
							<h5>l&apos;Analyse stylistique et grammaticale en fran&ccedil;ais</h5>
							<span class="courseDatePattern">3pm - 5pm,</span> 
							<span class="courseLocation">Sidgwickav,</span><br/>
							<span class="courseLecturer">Mr. C. Gagne, French IA</span>
						</li>
					</ul>
				</li>
				<li class="clearfix">
					<h4 class="pull-left">Wednesday 10th Oct.</h4>
					<ul class="pull-right">
						<li class="class">
							<h5>Early modern French</h5>
							<span class="courseDatePattern">9am - 10am,</span> 
							<span class="courseLocation">Sidgwickav,</span><br/>
							<span class="courseLecturer">Dr. W. Bennett, French IA</span>
						</li>
						<li class="class">
							<h5>l&apos;Analyse stylistique et grammaticale en fran&ccedil;ais</h5>
							<span class="courseDatePattern">3pm - 5pm,</span> 
							<span class="courseLocation">Sidgwickav,</span><br/>
							<span class="courseLecturer">Mr. C. Gagne, French IA</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>-->
		</div>
</div>